builds
mdmaker.pro.user
mdmaker.pro.user.*
releases/MarkdownMaker-x86_64.AppDir/AppRun
releases/MarkdownMaker-x86_64.AppDir/usr/bin
releases/MarkdownMaker-x86_64.AppDir/usr/lib
releases/MarkdownMaker-x86_64.AppDir/usr/plugins
releases/MarkdownMaker-x86_64.AppDir/usr/libexec
releases/MarkdownMaker-x86_64.AppDir/usr/qml
releases/MarkdownMaker-x86_64.AppDir/usr/resources
releases/MarkdownMaker-x86_64.AppDir/usr/share/doc
releases/MarkdownMaker-x86_64.AppDir/usr/translations

CMakeLists.txt.user
